@charset "UTF-8";
/* color principal */
/* Fuentes */
/* TAMAÑOS DE LETRA */
/* ancho de letra */
.header__item {
  /*lista de navegacion  */
  display: inline;
  font-family: "Kanit", sans-serif;
  flex-wrap: wrap; }

.nav-link {
  color: #a00505;
  transition: 0.6s; }
  .nav-link:hover {
    background-color: #ac8585;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px; }

.contacto__imagen {
  /* CONTACTOS */
  display: grid;
  height: 80vh;
  background-image: url(../recursos/imagencontacto.png); }
  .contacto__imagen .titulo__principal--contacto {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    font-size: 48px; }

.contacto__lista {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

.contacto__subtitulo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

.contacto__item {
  justify-content: center;
  flex-wrap: wrap;
  font-size: 25px;
  margin: 30px;
  padding: 20px; }

.contacto__boton {
  width: 200px;
  height: 35px;
  border: red solid 1px;
  color: white;
  border-radius: 8px;
  background: black;
  background: linear-gradient(to top, black, grey, #a19f9f);
  text-align: center;
  transition: .3s;
  box-shadow: 3px 2px 1px #df9191; }
  .contacto__boton:hover {
    width: 300px;
    height: 40px; }

.contacto-form {
  font-size: 27px;
  margin-bottom: 25px;
  color: #df9191;
  text-shadow: 1px 2px 1px black;
  font-weight: bold; }

.articulo-form {
  /* fondo formulario */
  background-image: url("../recursos/formulario-imagen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 10px 25px black;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px; }

.contacto__selector {
  box-shadow: 3px 3px 3px black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

.contacto__check {
  box-shadow: 3px 3px 3px black; }

.contacto__input {
  box-shadow: 3px 3px 3px black; }

.imagen__formulario {
  box-shadow: 3px 3px 3px black; }

.galeria__imagen {
  display: grid;
  height: 80vh;
  background-image: url(../recursos/imagen-galeria.png); }
  .galeria__imagen .titulo__principal--galeria {
    /* GALERIA */
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    text-decoration: underline;
    font-size: 48px; }

.galeria__subtitulo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

.galeria__enlaces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0px; }

.galeria__items a {
  /* enlaces fotos GALERIA */
  font-family: 'Kanit', sans-serif;
  color: #df9191;
  text-decoration: underline;
  font-size: 50px; }

.galeria__foto {
  width: 60%;
  box-shadow: 6px 5px 8px;
  filter: saturate(0);
  transition: .3s; }

.galeria__enlaces img:hover {
  filter: saturate(100%);
  width: 75%; }

.producto__principal {
  /* seccion productos  */
  /* imagen principal */
  display: grid;
  height: 80vh;
  background-image: url(../recursos/imagen_producto.jpg); }
  .producto__principal .titulo__principal--producto {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    font-size: 40px; }

.producto__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 100px;
  margin: 50px; }

.producto__tarjetas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: black solid 3px;
  border-radius: 50px;
  padding: 15px;
  background-image: url("../recursos/fondo-productos-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 10px 25px black; }

.producto__item {
  width: 40%;
  object-fit: cover;
  box-shadow: 2px 4px 10px 0px black;
  margin-left: 2%;
  margin-right: 1%;
  border-radius: 5px;
  transition: all 3s ease-in-out; }
  .producto__item:hover {
    transform: rotateY(360deg); }

.producto__opciones {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white; }

.boton__producto {
  width: 200px;
  height: 30px;
  border: red solid 1px;
  color: white;
  border-radius: 8px;
  background: black;
  background: linear-gradient(to top, black, grey, #a19f9f);
  transition: .3s;
  box-shadow: 3px 2px 1px #df9191; }
  .boton__producto:hover {
    width: 300px;
    height: 40px; }

.imagen__principal--nosotros {
  /* seccion Sobr Nosotros */
  display: grid;
  height: 80vh;
  background-image: url(../recursos/quienes_somos.jpg); }

.titulo__principal--nosotros {
  display: flex;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
  text-decoration: underline;
  font-size: 48px; }

.nosotros__presentacion {
  display: flex;
  flex-direction: column;
  gap: 20px; }

footer {
  /* FOOTER*/
  display: grid;
  height: 350px;
  background-color: black;
  color: white;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo-leo titulo" "derechos sociales"; }
  footer .footer__derechos {
    grid-area: derechos;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    text-align: center;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
  footer .footer__logo {
    grid-area: logo-leo;
    display: flex;
    width: 50%; }
  footer .footer__sociales {
    grid-area: sociales;
    display: flex;
    justify-content: center; }
  footer .footer__imagen {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  footer .footer__titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  footer .footer__redes {
    width: 40px; }
  footer .footer__visita {
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }

body {
  /* imagen de fondo */
  font-family: 'Montserrat', sans-serif;
  background-image: url("../recursos/2PUNTO-8.jpg");
  background-attachment: fixed; }

/*  EXTEND  */
.background-centrado, .contacto__imagen, .galeria__imagen, .producto__principal, .imagen__principal--nosotros, body, .portada__imagen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.grid-titulo, .contacto__imagen .titulo__principal--contacto, .galeria__imagen .titulo__principal--galeria, .producto__principal .titulo__principal--producto, .titulo__principal--nosotros {
  grid-column: 2/3;
  grid-row: 1/2;
  text-shadow: 1px 2px 3px white; }

.grid-imagen_principal, .contacto__imagen, .galeria__imagen, .producto__principal, .imagen__principal--nosotros, .portada__imagen {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr; }

.sombreado-formulario {
  box-shadow: 3px 3px 3px black; }

* {
  margin: 0px;
  padding: 0px; }

.titulo__principal {
  /* INDEX */
  font-family: "Kanit", sans-serif;
  text-decoration: underline;
  text-align: center;
  font-size: 48px; }

.portada__imagen {
  display: grid;
  width: 100%;
  height: 80vh;
  background-image: url(../recursos/imagen_portada.png); }
  .portada__imagen .titulo__bienvenidos {
    grid-column: 2/3;
    grid-row: 1/2;
    text-shadow: 1px 2px 3px white; }
  .portada__imagen .portada__subtitulo {
    /* subtitulo de la foto */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1/4;
    grid-row: 2/3;
    text-shadow: 1px 2px 1px white;
    font-size: 26px;
    transition: 0.5s; }

.portada__subtitulo:hover {
  font-weight: bold; }

p {
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 2px 1px white; }

/* media Querie Celular */
@media (min-width: 320px) and (max-width: 575px) {
  body {
    /* imagen de fondo */
    font-family: 'Montserrat', sans-serif;
    background-image: url("../recursos/2PUNTO-8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  .titulo__bienvenidos {
    /* index */
    grid-column: 1;
    grid-row: 1/2;
    text-align: center; }
  .portada__imagen {
    display: grid;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .portada__subtitulo {
    /* subtitulo de la foto index */
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 16px; }
  .contacto__imagen {
    /* contactos */
    display: flex;
    width: 100%;
    height: 25vh;
    flex-direction: column; }
  .contacto__boton {
    width: 150px;
    height: 34px;
    border: red solid 1px;
    color: white;
    border-radius: 8px;
    background: black;
    background: linear-gradient(to top, black, grey, #a19f9f); }
    .contacto__boton:hover {
      width: 180px;
      height: 50px; }
  .contacto__form {
    font-size: 30px; }
  .contacto__opcion {
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
  .imagen__formulario {
    margin-bottom: 15px;
    margin-top: 15px; }
  .titulo__principal--contacto {
    /* CONTACTOS */
    font-size: 30px;
    grid-column: 1/2;
    grid-row: 1/2; }
  .galeria__imagen {
    /* Galeria */
    display: flex;
    width: 100%;
    height: 25vh;
    flex-direction: column; }
  .galeria__foto {
    width: 80%; }
  .galeria__enlaces img:hover {
    filter: saturate(100%);
    width: 95%; }
  .galeria__items a {
    font-size: 14vw; }
  .producto__principal {
    /* productos */
    display: flex;
    width: 100%;
    height: 30vh;
    flex-direction: column; }
  .producto__contenedor {
    display: flex;
    gap: 50px;
    flex-direction: column; }
    .producto__contenedor__tarjetas {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border: black solid 3px;
      border-radius: 50px;
      padding: 15px; }
  .producto__item {
    width: 50%; }
  .boton__producto {
    width: 150px;
    height: 25px; }
    .boton__producto:hover {
      width: 180px;
      height: 40px; }
  .item__uno {
    height: 80%;
    object-fit: cover; }
  .item__dos {
    height: 80%;
    object-fit: cover; }
  .imagen__principal--nosotros {
    /*  sobre nosotros */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 30vh; }
  .titulo__principal--nosotros {
    font-size: 30px;
    grid-column: 1/2;
    grid-row: auto;
    height: 50px;
    width: 100%; }
  .nosotros__presentacion .nosotros__item--uno {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--uno:hover {
      transform: scale(1.8) translate(24%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--dos {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--dos:hover {
      transform: scale(2.6) translate(35%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--tres {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--tres:hover {
      transform: scale(1.8) translate(-22%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--cuatro {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--cuatro:hover {
      transform: scale(2.8) translate(-27%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--cinco {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--cinco:hover {
      transform: scale(1.8) translatex(26%);
      filter: brightness(100%); }
  footer {
    /* FOOTER*/
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo-leo" "derechos" "titulo" "sociales"; }
    footer .footer__logo {
      grid-area: logo-leo;
      justify-content: center;
      width: 20vw; }
    footer .footer__derechos {
      grid-area: derechos;
      display: flex;
      align-items: flex-start;
      font-size: 20px;
      text-align: center;
      padding: 16px; }
    footer .footer__titulo {
      grid-area: titulo;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 20px; }
    footer .footer__sociales {
      grid-area: sociales;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    footer .footer__imagen {
      display: flex;
      justify-content: center; } }

/*  media Querie de tablet */
@media (min-width: 576px) and (max-width: 992px) {
  .portada__imagen {
    /* index */
    display: grid;
    height: 50vw; }
  .contacto__imagen {
    /* CONTACTOS */
    height: 50vh; }
    .contacto__imagen .titulo__principal--contacto {
      display: flex;
      justify-content: center; }
  .galeria__imagen {
    /* Galeria */
    display: flex;
    height: 50vh;
    flex-direction: column; }
  .galeria__foto {
    width: 80%; }
    .galeria__foto .galeria__enlaces img:hover {
      width: 95%; }
  .producto__principal {
    /* productos */
    display: flex;
    width: 100%;
    height: 50vh; }
    .producto__principal .titulo__principal--producto {
      display: flex;
      justify-content: center;
      width: 100vw; }
  .producto__contenedor {
    display: flex;
    gap: 20px; }
    .producto__contenedor .boton__producto {
      width: 150px;
      height: 25px; }
      .producto__contenedor .boton__producto:hover {
        width: 180px;
        height: 40px; }
  .imagen__principal--nosotros {
    /*  sobre nosotros */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 50vh; }
  .titulo__principal--nosotros {
    grid-column: 1/2;
    grid-row: auto;
    height: 50px;
    width: 100%; }
  .nosotros__presentacion .nosotros__item--uno {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--uno:hover {
      transform: scale(1.8) translate(24%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--dos {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--dos:hover {
      transform: scale(2.6) translate(35%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--tres {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--tres:hover {
      transform: scale(1.8) translate(-22%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--cuatro {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--cuatro:hover {
      transform: scale(2.8) translate(-27%);
      filter: brightness(100%); }
  .nosotros__presentacion .nosotros__item--cinco {
    object-fit: cover;
    transition: 3s; }
    .nosotros__presentacion .nosotros__item--cinco:hover {
      transform: scale(1.8) translatex(26%);
      filter: brightness(100%); } }
