@charset "UTF-8";
/* color principal */
/* Fuentes */
/* TAMAÑOS DE LETRA */
.header__item {
  /*lista de navegacion  */
  display: inline;
  font-family: 'Kanit', sans-serif;
  flex-wrap: wrap; }

.contacto__imagen {
  /* CONTACTOS */
  display: grid;
  width: 100vw;
  height: 80vh;
  background-image: url(../recursos/imagencontacto.png); }
  .contacto__imagen .titulo__principal--contacto {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    font-size: 40px; }
  .contacto__imagen .contacto__subtitulo {
    text-align: center; }

.contacto__item {
  justify-content: center;
  flex-wrap: wrap;
  font-size: 25px;
  margin: 30px;
  padding: 20px; }

.contacto__boton {
  width: 200px;
  height: 35px;
  border: red solid 1px;
  color: white;
  border-radius: 8px;
  background: black;
  background: linear-gradient(to top, black, grey, #a19f9f);
  text-align: center;
  transition: .3s; }
  .contacto__boton:hover {
    width: 300px;
    height: 40px; }

.contacto__form {
  font-size: 25px; }

.galeria__subtitulo {
  text-align: center; }

.galeria__imagen {
  display: grid;
  width: 100vw;
  height: 80vh;
  background-image: url(../recursos/imagen-galeria.png); }
  .galeria__imagen .titulo__principal--galeria {
    /* GALERIA */
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    font-size: 40px; }

.galeria__enlaces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none; }

.galeria__items a {
  /* enlaces fotos GALERIA */
  font-family: 'Kanit', sans-serif;
  color: #df9191;
  text-decoration: underline;
  font-size: 50px; }

.galeria__foto {
  width: 60%;
  filter: saturate(0);
  transition: .3s; }

.galeria__enlaces img:hover {
  filter: saturate(100%);
  width: 75%; }

.producto__principal {
  /* seccion productos  */
  /* imagen principal */
  display: grid;
  height: 80vh;
  background-image: url(../recursos/imagen_producto.jpg); }
  .producto__principal .titulo__principal--producto {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    font-size: 40px; }

.producto__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 100px;
  margin: 50px; }

.producto__tarjetas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: black solid 3px;
  border-radius: 50px;
  padding: 15px; }

.producto__item {
  width: 30%;
  object-fit: cover; }

.item__uno {
  grid-column: 1/2;
  grid-row: 1/2; }

.boton__producto {
  width: 200px;
  height: 20px;
  border: red solid 1px;
  color: white;
  border-radius: 8px;
  background: black;
  background: linear-gradient(to top, black, grey, #a19f9f);
  transition: .3s; }
  .boton__producto:hover {
    width: 300px;
    height: 40px; }

.imagen__principal--nosotros {
  /* seccion Sobr Nosotros */
  display: grid;
  width: 100vw;
  height: 80vh;
  background-image: url(../recursos/quienes_somos.jpg); }

.titulo__principal--nosotros {
  display: flex;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
  text-decoration: underline;
  font-size: 40px; }

.nosotros__presentacion {
  display: flex;
  flex-direction: column;
  gap: 20px; }

footer {
  /* FOOTER*/
  display: grid;
  width: 100vw;
  background-color: black;
  color: white;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo-leo titulo" "derechos sociales"; }
  footer .footer__derechos {
    grid-area: derechos;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    text-align: center;
    padding: 16px; }
  footer .footer__logo {
    grid-area: logo-leo;
    display: flex;
    width: 50%; }
  footer .footer__sociales {
    grid-area: sociales;
    display: flex;
    justify-content: center; }
  footer .footer__imagen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*                 grid-column:   1/2 ;
                grid-row: 1/2; */ }
  footer .footer__titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  footer .footer__redes {
    width: 40px; }

body {
  /* imagen de fondo */
  font-family: 'Montserrat', sans-serif;
  background-image: url("../recursos/2PUNTO-8.jpg");
  background-attachment: fixed; }

/*  EXTEND  */
.background-centrado, .contacto__imagen, .galeria__imagen, .producto__principal, .imagen__principal--nosotros, body, .portada__imagen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.grid-titulo, .contacto__imagen .titulo__principal--contacto, .galeria__imagen .titulo__principal--galeria, .producto__principal .titulo__principal--producto, .titulo__principal--nosotros {
  grid-column: 2/3;
  grid-row: 1/2;
  text-shadow: 1px 2px 3px white; }

.grid-imagen_principal, .contacto__imagen, .galeria__imagen, .producto__principal, .imagen__principal--nosotros, .portada__imagen {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr; }

* {
  margin: 0px;
  padding: 0px; }

.titulo__principal {
  font-family: "Kanit", sans-serif;
  text-decoration: underline;
  text-align: center;
  font-size: 40px; }

.portada__imagen {
  /* index */
  display: grid;
  width: 100%;
  height: 80vh;
  background-image: url(../recursos/imagen_portada.png); }
  .portada__imagen .titulo__bienvenidos {
    grid-column: 2/3;
    grid-row: 1/2;
    text-shadow: 1px 2px 3px white; }
  .portada__imagen .portada__subtitulo {
    /* subtitulo de la foto */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 20 20 5 20;
    text-shadow: 1px 2px 1px white;
    font-size: 26px; }
  .portada__imagen .portada__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    padding-left: 16px; }

/* media Querie Celular */
@media (min-width: 320px) and (max-width: 575px) {
  body {
    /* imagen de fondo */
    font-family: 'Montserrat', sans-serif;
    background-image: url("../recursos/2PUNTO-8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  .portada__imagen {
    /* index */
    display: grid;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .titulo__bienvenidos {
    grid-column: 1;
    grid-row: 1/2;
    text-align: center; }
  .portada__subtitulo {
    /* subtitulo de la foto index */
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 16px; }
  .contacto__imagen {
    /* contactos */
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column; }
  .titulo__principal--contacto {
    /* CONTACTOS */
    font-size: 30px;
    grid-column: 1/2;
    grid-row: 1/2; }
  .galeria__imagen {
    /* Galeria */
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column; }
  .galeria__foto {
    width: 80%; }
  .galeria__enlaces img:hover {
    filter: saturate(100%);
    width: 95%; }
  .galeria__items a {
    font-size: 14vw; }
  .producto__principal {
    /* productos */
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column; }
  .producto__contenedor {
    display: flex;
    gap: 100px;
    margin: 50px; }
  .producto__tarjetas {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: black solid 3px;
    border-radius: 50px;
    padding: 15px; }
  .imagen__principal--nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .titulo__principal--nosotros {
    font-size: 30px;
    grid-column: 3/4;
    grid-row: 2/3; }
  footer {
    /* FOOTER*/
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo-leo" "derechos" "titulo" "sociales"; }
    footer .footer__logo {
      grid-area: logo-leo;
      justify-content: center;
      width: 20vw; }
    footer .footer__derechos {
      grid-area: derechos;
      display: flex;
      align-items: flex-start;
      font-size: 20px;
      text-align: center;
      padding: 16px; }
    footer .footer__titulo {
      grid-area: titulo;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 20px; }
    footer .footer__sociales {
      grid-area: sociales;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    footer .footer__imagen {
      display: flex;
      justify-content: center; } }

/*  media Querie de tablet */
