body{                           /* imagen de fondo */

    font-family: 'Montserrat', sans-serif;
    background-image: url("../recursos/2PUNTO-8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}