.contacto__imagen{    /* CONTACTOS */
    @extend .grid-imagen_principal;
    @extend .background-centrado;
    display: grid;
    height: 80vh;
    background-image: url(../recursos/imagencontacto.png);


    .titulo__principal--contacto{     
        @extend .grid-titulo;
        display: flex;
        justify-content: center;
        font-family: 'Kanit', sans-serif;
        text-decoration:underline; 
        font-size: $titulos;

    }

}
.contacto__subtitulo{
    text-align: center;
}


.contacto__item { 
    justify-content: center;
    flex-wrap: wrap;
    font-size: 25px;
    margin: 30px;
    padding: 20px; 
}



.contacto__boton{
    width: 200px;
    height: 35px;
    border: red solid 1px;
    color: white;
    border-radius: 8px;
    background: black;
    background: linear-gradient(to top, black, grey , rgb(161, 159, 159) ) ;
    text-align: center;
    transition: .3s;
    
    &:hover{
        width: 300px;
        height: 40px;
    }

}


.contacto-form{
    font-size: 27px;
    margin-bottom: 25px;
    color: rgb(223, 145, 145);
    text-shadow: 1px 2px 1px black;
    font-weight: bold;

}

.articulo-form{
    background-image: url('../recursos/formulario-imagen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 3px black;
}

.contacto__selector{
    font-weight: bold;
    box-shadow: 3px 3px 3px black;


}
.contacto__check{
        box-shadow: 3px 3px 3px black;


}
.contacto__input{
    box-shadow: 3px 3px 3px black;
}

.imagen__formulario{
    box-shadow: 3px 3px 3px black;
}
