.galeria__subtitulo{
    text-align: center;
}


.galeria__imagen{
    @extend .grid-imagen_principal;
    @extend .background-centrado;
    display: grid;
    width: 100vw;
    height: 80vh;
    background-image: url(../recursos/imagen-galeria.png);
    .titulo__principal--galeria{            /* GALERIA */
        @extend .grid-titulo;
        display: flex;
        justify-content: center;
        font-family: 'Kanit', sans-serif;
        text-decoration:underline; 
        font-size: 40px; 

    }
    
}

.galeria__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}




.galeria__items  a {      /* enlaces fotos GALERIA */
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    color: rgb(223, 145, 145);
    text-decoration: underline;
    font-size: 50px;

} 


.galeria__foto{
    width: 30%;

    filter: saturate(0);
    transition: .3s;


}

.galeria__enlaces img:hover{
    filter: saturate(100%);
    width: 50%;
}
