/* media Querie Celular */
@media (min-width: 320px) and (max-width: 575px){

    body{                           /* imagen de fondo */
        font-family: 'Montserrat', sans-serif;
        background-image: url("../recursos/2PUNTO-8.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .titulo__bienvenidos {           /* index */
        grid-column: 1;
        grid-row: 1/2;
        text-align: center;


    }

    .portada__imagen {              
        display: grid;
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    .portada__subtitulo{             /* subtitulo de la foto index */
        display: flex;
        justify-content: center;
        text-align: center;
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 16px;

    }
    .contacto__imagen{              /* contactos */
        display: flex;
        width: 100%;
        height: 35vh;
        flex-direction: column;
    }
    
    .titulo__principal--contacto{       /* CONTACTOS */

        font-size: 30px;
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .galeria__imagen{               /* Galeria */
        display: flex;
        width: 100%;
        height: 35vh;
        flex-direction: column;
        object-fit: cover;

    }
    .galeria__foto{
        width: 80%;
    }
    .galeria__enlaces img:hover{
        filter: saturate(100%);
        width: 95%;
    }


    
    .galeria__items  a{
        font-size: 14vw;
    }

    .producto__principal{       /* productos */
        display: flex;
        width: 100%;
        height: 35vh;
        flex-direction: column;



    }
    .producto__contenedor{
        display: flex;
        gap: 50px;
        flex-direction: column;
        
        &__tarjetas{
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border: black solid 3px;
            border-radius: 50px;
            padding: 15px;
        }
    }
    .producto__item{
        width: 50%;
    }

    .boton__producto{
        width: 150px;
        height: 25px;
        &:hover{
            width: 180px;
            height: 40px;
        }
    }
    .item__uno{
        height: 80%;
        object-fit: cover;

    }

    .item__dos{
        height: 80%;
        object-fit: cover;
    }


    .imagen__principal--nosotros{          /*  sobre nosotros */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 35vh;


    }

    .titulo__principal--nosotros{
        font-size: 30px;
        grid-column: 1/2;
        grid-row: auto;
        height: 50px;
        width: 100%;
        
    }


    footer{                        /* FOOTER*/
        display: grid;
        background-color: black;
        color: white;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "logo-leo"
                            "derechos"
                            "titulo"
                            "sociales" ;

        .footer__logo{
            grid-area: logo-leo;
            justify-content: center;
            width: 20vw;
            

        }


        .footer__derechos{
            grid-area: derechos;
            display: flex;
            align-items: flex-start;
            font-size: 20px;
            text-align: center;
            padding: 16px;

        }

        .footer__titulo{
            grid-area: titulo;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 20px;

        }

        .footer__sociales{
            grid-area: sociales ;
            display: flex;
            justify-content: center;
            align-items: flex-start;

        }
        .footer__imagen{
            display: flex;
            justify-content: center;


        }

    }
}

/*  media Querie de tablet */
@media (min-width: 576px) and (max-width: 992px){

    .portada__imagen {               /* index */
        display: grid;
        height: 50vw;
    }


    .contacto__imagen{    /* CONTACTOS */
        height: 50vh;
        .titulo__principal--contacto{     
            display: flex;
            justify-content: center;
        }
    }

    .galeria__imagen{               /* Galeria */
        display: flex;
        height: 50vh;
        flex-direction: column;
    }
    .galeria__foto{
        width: 80%;
        .galeria__enlaces img:hover{
            width: 95%;
    }
}

    .producto__principal{       /* productos */
        display: flex;
        width: 100%;
        height: 50vh;
        .titulo__principal--producto{
            display: flex;
            justify-content: center;
            width: 100vw;

        }
    }

    .producto__contenedor{
        display: flex;
        gap: 20px;
        .boton__producto{
            width: 150px;
            height: 25px;
            &:hover{
                width: 180px;
                height: 40px;
            }
        }
    }
    .imagen__principal--nosotros{          /*  sobre nosotros */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 50vh;


    }

    .titulo__principal--nosotros{

        grid-column: 1/2;
        grid-row: auto;
        height: 50px;
        width: 100%;
        
    }





































}