/* color principal */
$color-principal: black;

/* Fuentes */

$font-principal: 'Kanit', sans-serif;
$font-secundario:'Montserrat', sans-serif;


/* TAMAÑOS DE LETRA */

$contenido: 16px;
$titulos: $contenido *3 ;


