            /*  EXTEND  */


.background-centrado{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    text-shadow: 1px 2px 3px white;
}

.grid-imagen_principal{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}