.producto__principal{       /* seccion productos  */ /* imagen principal */
    @extend .grid-imagen_principal;
    @extend .background-centrado;
    display: grid;
    height: 80vh;
    background-image: url(../recursos/imagen_producto.jpg);


    .titulo__principal--producto{    
        @extend .grid-titulo;
        display: flex;
        justify-content: center;
        font-family: 'Kanit', sans-serif;
        text-decoration:underline; 
        font-size: 40px;

    }
}






.producto__contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
    margin: 50px;
}



.producto__tarjetas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: black solid 3px;
    border-radius: 50px;
    padding: 15px;
    
}


.producto__item{
    width: 30%;
    object-fit: cover;
}

.item__uno{
    grid-column: 1/2;
    grid-row: 1/2;
}


.boton__producto{
    width: 200px;
    height: 20px;
    border: red solid 1px;
    color: white;
    border-radius: 8px;
    background: black;
    background: linear-gradient(to top, black, grey , rgb(161, 159, 159) ) ;
    transition: .3s;

    &:hover{
        width: 300px;
        height: 40px;
    }
}
