.imagen__principal--nosotros{    /* seccion Sobr Nosotros */
    @extend .grid-imagen_principal;
    @extend .background-centrado;
    display: grid;
    width: 100vw;
    height: 80vh;
    background-image: url(../recursos/quienes_somos.jpg);
}

.titulo__principal--nosotros{
    @extend .grid-titulo;
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-decoration:underline; 
    font-size: 40px;
}

.nosotros__presentacion{
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
}